body {
    font-family: 'Harry Potter', sans-serif;
    background-color: #FFFCFA;
    background-image: url("../assets/scrollLong.jpg");
    background-size: 200vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

#expecto {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: 'Harry Potter', sans-serif;

}
main {
    padding: 5px;
    /* display: grid;
    align-self: center;
    grid-template-columns: auto 1fr auto; */
}

header {
    /* background-color: #919e9d3f; */
    height: 110px;
    margin-top: 30px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    margin-top: 30px;
    border-radius: 50%;
    object-fit: contain;
}

section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: left;
}

p {
    line-height: 2em;

    width: 100%;

}
#scroll {
    width: 80%;

}
section div {
    padding: 10px;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2{

    font-size: large;
    align-content: center;

}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}

.show {
    display: grid;
    justify-content: center;
}

.hide {
    display: none;
}


